* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/bg.jpg), #000;
  background-size: 100% auto, contain;
  background-repeat: no-repeat, repeat;
  background-position: 0 -330px;
  color: #fff;
  font-family: "Quicksand", sans-serif;

  position: relative;
}
.canvas {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: -1;
  user-select: none;
}
.canvas canvas {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: -1;
  user-select: none;
}
.cta a {
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 3rem;
  background-color: rgb(94, 92, 233);
  border-radius: 30px;
  transition: 0.3s background-color ease;
}
.cta a:hover {
  background-color: rgb(82, 80, 184);
}
.dates {
  font-size: 1.25rem;
  font-weight: 700;
}
.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  font-family: "Noto Sans Mono", monospace;
}
.home .club {
  /* font-family: "Spirax", cursive; */
  font-size: 5rem;
}
.home .heading {
  text-align: center;
}
.home .presents {
  font-size: 2rem;
}
.home .eventName {
  /* font-family: "Underdog", cursive; */
  font-size: 6rem;
}
.events {
  width: 80vw;
  margin: auto;
}
.events > .head {
  font-family: "Noto Sans Mono", monospace;

  font-size: 6rem;
}
.day {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.day > * {
  width: 550px;
}
.day1 .head {
  font-size: 3rem;
}
.day .aboutDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day .aboutDay .rulesDesc {
  font-size: 1.25rem;
  line-height: 2rem;
}
.day .desc {
  font-size: 1.5rem;
  padding: 3rem 0;
}
.coverMobile {
  display: none;
}
/* .rules {
  display: none;
} */
.logo {
  width: 120px;
}
footer {
  height: 10vh;
  text-align: center;
  padding: 3rem 0;
  font-weight: bold;
}
@media (max-width: 1136px) {
  body {
    background-position: top;
    background-size: 1000px;
  }
  .cover {
    /* display: none; */
  }
  .home .club {
    /* font-family: "Spirax", cursive; */
    font-size: 4rem;
  }
  .home .heading {
    text-align: center;
  }
  .home .presents {
    font-size: 2rem;
  }
  .home .eventName {
    /* font-family: "Underdog", cursive; */
    font-size: 4rem;
  }
  .cover {
    display: none;
  }
  .coverMobile {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
  .day .desc {
    padding: 1rem 0rem;
  }
}
@media (max-width: 400px) {
  .home .club {
    /* font-family: "Spirax", cursive; */
    font-size: 3rem;
  }
  .home .heading {
    text-align: center;
  }
  .home .presents {
    font-size: 1.5rem;
  }
  .home .eventName {
    /* font-family: "Underdog", cursive; */
    font-size: 3rem;
  }
  .tagLine {
    font-size: 0.75rem;
  }

  .events > .head {
    font-size: 4rem;
  }
  .day1 .head {
    font-size: 2rem;
  }
  .day .desc {
    font-size: 1.25rem;
    /* padding: 3rem 0; */
  }
  .day .aboutDay .rulesDesc {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .day {
    margin-bottom: 2rem;
  }
}
