* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000 url(./assets/bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -330px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}
.cta a {
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 3rem;
  background-color: rgb(94, 92, 233);
  border-radius: 30px;
  transition: 0.3s background-color ease;
}
.cta a:hover {
  background-color: rgb(82, 80, 184);
}
.dates {
  font-size: 1.25rem;
  font-weight: 700;
}
.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  font-family: "Noto Sans Mono", monospace;
}
.home .club {
  /* font-family: "Spirax", cursive; */
  font-size: 5rem;
}
.home .heading {
  text-align: center;
}
.home .presents {
  font-size: 2rem;
}
.home .eventName {
  /* font-family: "Underdog", cursive; */
  font-size: 6rem;
}
.events {
  width: 80vw;
  margin: auto;
}
.events > .head {
  font-family: "Spirax", cursive;
  font-size: 6rem;
}
.day {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.day > * {
  width: 550px;
}
.day1 .head {
  font-size: 3rem;
}
.day .aboutDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day .aboutDay .rulesDesc {
  font-size: 1.25rem;
  line-height: 2rem;
}
.day .desc {
  font-size: 1.5rem;
  padding: 3rem 0;
}
/* .rules {
  display: none;
} */

@media (max-width: 1136px) {
  body {
    background-position: top;
    background-size: cover;
  }
  .cover {
    display: none;
  }
  .home .club {
    font-family: "Spirax", cursive;
    font-size: 4rem;
  }
  .home .heading {
    text-align: center;
  }
  .home .presents {
    font-size: 2rem;
  }
  .home .eventName {
    font-family: "Underdog", cursive;
    font-size: 4rem;
  }
}
